@use "../../../variables" as v;

:host {
  margin: 0.375in 0.6in 12px;

  h1 {
    margin: 0;
    font-size: x-large;
    font-weight: normal;
  }
}

.contact-info {
  display: flex;
  align-items: center;
}

.info-link {
  text-decoration: none;
  margin: 0 1em 0 0.5em;

  .color {
    color: v.$blue;
  }
}

.github-link {
  width: 24px;
  height: 24px;
}
