:host {
  display: flex;
  flex-grow: 2;

  h2 {
    margin: 8px 0;
  }

  h3,
  h4 {
    margin: 4px 0;
  }

  .item {
    margin-bottom: 12px;
  }

  .left {
    margin: 10px 10px 1in 1in;
    flex: 4;
  }

  .right {
    background-color: whitesmoke;
    flex: 2;
    padding: 10px 1in 1in 10px;

    p {
      margin: 4px 0;
    }
  }

  .subheader {
    display: flex;
    justify-content: space-between;
  }
}
