:host {
  display: flex;
  flex-grow: 2;

  h2 {
    margin: 8px 0;
  }

  h3,
  h4,
  h5,
  ul,
  p {
    margin: 4px 0;
  }

  .item {
    margin-bottom: 8px;
  }

  .left {
    margin: 10px 20px .5in .5in;
    flex: 4;
  }

  .right {
    background-color: whitesmoke;
    flex: 2;

    .content {
      margin: 20px .5in .5in 20px;
    }
  }

  .subheader {
    display: flex;
    justify-content: space-between;
  }
}