<h2>Work</h2>
@for (job of work; track $index) {
<div class="item">
  <div
    style="display: flex; align-items: center; justify-content: space-between"
  >
    <h3 style="margin-bottom: 0">
      {{ job.position }}, <span>{{ job.company }}, </span>
      <span style="font-weight: 100">{{ job.city }}, {{ job.state }}</span>
    </h3>
    <h3 style="margin-bottom: 0">
      <span>{{ job.startDate | date : "MM/yyyy" }}</span>
      <span> - </span>
      @if (job.endDate) {
      <span>{{ job.endDate | date : "MM/yyyy" }}</span>
      } @else {
      <span>Current</span>
      }
    </h3>
  </div>
  <ul class="job-desc">
    @for (desc of job.description; track $index) {
    <li>{{ desc }}</li>
    }
  </ul>
</div>
}
